.input-box {
    flex: 1;

    background-color: inherit;
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: rgb(60, 60, 60);
    color: rgb(220, 220, 220);
    box-shadow: 4px 8px 6px rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
}

.input-tag-container {
    width: 100%;
    display: flex;
    flex: 1;
}

.textarea-tag {
    resize: none;
    flex: 1;
    padding: 12px 16px;
    max-height: 112px;

    font-family: inherit;
    background-color: inherit;
    color: inherit;
    
    border: none;
    outline: none;
}

.additional-tools {
    width: 100%;
    padding-bottom: 8px;
    padding-left: 12px;
}

.textarea-tag::-webkit-scrollbar {
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: inherit;
    color: inherit;
    font-family: inherit;

    border-radius: 12px;
    font-size: 10px;

    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
    
    transition: 0.3s;
    border: solid 1px rgb(60, 60, 60);
}

.custom-file-upload:hover {
    border: solid 1px rgba(37, 150, 190);
    background-color: rgba(37, 150, 190, 0.15);
}