.message {
    width: 100%;

    margin-bottom: 16px;
    display: flex;
}


.human-message {
    justify-content: end;
}
.message-text {
    vertical-align: top;
    display: inline-block;
    background-color: inherit;
    word-break: break-all;
    
    background-color: rgb(69, 69, 69);
    padding: 12px 16px;
    border-radius: 16px;
    color: rgb(220, 220, 220);
}

.message-text-AI {
    margin-right: 56px;
}

.message-text-human {
    margin-left: 56px;
}

.logo {
    width: 32px;
    height: 100%;
    background-color: inherit;
}

.AI-logo {
    margin: 0 12px;
}

.Human-logo {
    margin: 0 12px;
}