.screen {
  height: 100%;

  display: flex;
}

.sidebar {
  height: 100%;
  background-color: rgb(35, 35, 35);
  width: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  transition: 0.3s;
}

.mainbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  align-items: center;
  justify-content: center;
}

.main-top {
  margin-top: 4vh;
  max-width: 45vw;
  flex: 1;
  width: 100%;
  background-color: inherit;

  overflow-y: scroll;
}

.main-top::-webkit-scrollbar {
  display: none;
}

.main-bottom {
  max-width: 45vw;
  width: 100%;

  padding: 12px 12px 48px 12px;
}


