html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(50, 50, 50);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}